@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Quicksand|Work+Sans');

* {
    border: 1px solid red;
}

body {
    padding: 0;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: #1a1a1a;
    opacity: 0.8;
}

a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 0px 20px;
    
}